.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  color: var(--eggshell-white);
  flex-direction: column;
}
.profile-avatar,
.settings {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  font-size: 1.5rem;
  gap: var(--gap);
}
.profile-avatar {
  height: 360px;
  justify-content: space-around;
  font-size: 1.4rem;
}
.avatar-wrap {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.img-wrap {
  border: 3px solid var(--dark-beige);
  border-radius: 50%;
  padding: 2rem;
}
.avatar-name {
  font-size: 2rem;
  font-weight: bold;
}
.stats {
  font-weight: bold;
  display: flex;
  gap: var(--gap);
  width: 100%;
  font-size: 1rem;
}
.toggle-dark-mode-settigs {
  display: flex;
  gap: var(--gap);
}
.dark-mode-btn {
  font-weight: bold;
  align-self: center;
  font-size: 1rem;
  border: 2px solid black;
  padding: 0.5rem var(--gap);
  border-radius: 4px;
  background-color: var(--dark-beige);
}
